{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios | {% block 'title' %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=2">
  {% block 'styles' %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQwI8hiJZkfsNCS6r+L2dT6yy8Eh91IU1vZ9UU7v9z8eH6" crossorigin="anonymous">
  {% endblock %}
 
</head>
<body>
  <div class="contenedor">
      {% include "layout/partials/menu.html" %}
      <main>
        {% block 'content' %}{% endblock %}
      </main>
    {% include "layout/partials/footer.html" %}
  </div>
 
  <script src="https://kit.fontawesome.com/122562b252.js" crossorigin="anonymous"></script>
</body>
